body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff4d4d; /* Fundo vermelho */
    margin: 0;
    overflow: hidden;
    background-image: url('https://i.postimg.cc/qvDR6fx5/opp.png');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}

.login-container {
    background-color: rgba(295, 255, 259, 0.3); /* Fundo transparente */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #00796b;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
}

.input-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

/* Alinhar o ícone do cadeado à esquerda dentro do campo de senha */
.password-container i.fas.fa-lock {
    position: absolute;
    left: -310px;  /* Ajuste a distância da borda esquerda */
    top: 50%;
    transform: translateY(-50%);
    color: #;
}

.password-container {
    position: relative;
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px 0;
    width: 25%;
    font-weight: bold;
}

.message {
    color: red;
    margin-top: 10px;
}

.link {
    margin-top: 10px;
}